# Unique Bundle ID.
# Keep "com.app" for local development. It will make your life easier.
# Feel free to change if you know what to do next.
BUNDLE_IDENTIFIER=com.app

# Application name, set to whatever you like
BUNDLE_DISPLAY_NAME=App

# Remote REST API URL
API_URL=http://rest.com/api