
.icon-call-1:before { content: '\e800'; } /* '' */
.icon-pen:before { content: '\e801'; } /* '' */
.icon-attachment:before { content: '\e802'; } /* '' */
.icon-call-2:before { content: '\e803'; } /* '' */
.icon-call-3:before { content: '\e804'; } /* '' */
.icon-conversation:before { content: '\e805'; } /* '' */
.icon-search-thin:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-attachment-thin:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-close:before { content: '\e80b'; } /* '' */
.icon-ywca:before { content: '\e811'; } /* '' */
.icon-apple-pay:before { content: '\e812'; } /* '' */
.icon-android-pay:before { content: '\e813'; } /* '' */
.icon-donate:before { content: '\e838'; } /* '' */
.icon-like:before { content: '\e839'; } /* '' */
.icon-menu:before { content: '\e83a'; } /* '' */
.icon-link:before { content: '\e83b'; } /* '' */
.icon-comment:before { content: '\e83c'; } /* '' */